{% extends "base.html" %}

{% block nav %}

<li>
	<a href="/">Home</a>
</li>
<li>
	<a href="/api">API</a>
</li>
<li class="active">
	<a href="/about">About</a>
</li>

{% endblock %}

{% block content %}

<div>
	<h3> Dear Users, </h3>
	
	<div itemscope itemtype="http://schema.org/SoftwareApplication">
		<p itemprop="description">
		Through the <span itemprop="name">CPI Visualizer</span>, we hope to give you
		a fast and convenient way to study consumer price index trends for
		various products and services over time. Given the increasing
		importance of the economy to the average American, we seek to
		empower end-users by putting the data at their fingertips in a
		comprehensible yet complete manner. <span itemprop="audience">
		For those interested in analysis </span>, the app allows the simultaneous
		comparison of trends across both regions and
		products. We hope these features will allow users to have a deeper and more
		intimate understanding of how consumer prices in the economy are changing and
		how they depend on factors such as location and category. All CPI data was
		obtained from the Bureau of Labor Statistics and further information can
		be found <a href="http://www.bls.gov" target="_blank">here</a>.
		</p>
        
		<h3> What is the Consumer Price Index? </h3>
		<p> As defined by the Bureau of Labor Statistics, the consumer price index
		is a measure of the average change over time in the prices paid by urban
		consumers for common consumer goods and services. Uses for observing CPI
		levels range from uncovering trends of inflation, adjusting consumer income
		payments (such as Social Security), and assessing government effectiveness
		in executing economic policy. </p> 
		
	       <h3>Who created this app?</h3>
	       <div itemprop="creator">
			<div itemscope itemtype="http://schema.org/Person">
				 <h4 itemprop="name">Aldo Garcia</h4>
				 <p itemprop="jobTitle">Major: Electrical and Computer Engineering</p>
				 <p><a href="mailto:agg53@cornell.edu" itemprop="email">agg53@cornell.edu</a></p>
			</div>
			<div itemscope itemtype="http://schema.org/Person">
				 <h4 itemprop="name">Richard Dansoh</h4>
				 <p itemprop="jobTitle">Major: Operations Research and Information Engineering</p>
				 <p><a href="mailto:rod26@cornell.edu" itemprop="email">rod26@cornell.edu</a></p>
			</div>
			<div itemscope itemtype="http://schema.org/Person">
				 <h4 itemprop="name">Darlin Alberto</h4>
				 <p itemprop="jobTitle">Major: Information Science, Systems, and Technology</p>
				 <p><a href="mailto:da253@cornell.edu" itemprop="email">da253@cornell.edu</a></p>
			</div>
	       </div>
		
	</div>
</div>

{% endblock %}
