{% extends "base.html" %}

{% block nav %}

<li>
	<a href="/">Home</a>
</li>
<li class="active">
	<a href="/api">API</a>
</li>
<li>
	<a href="/about">About</a>
</li>

{% endblock %}

{% block content %}

<div>
	
		<h2>REST API</h2>
	<p> The REST API is a direct way of accessing the Consumer Product Index.
	This is a reference for developers to access the data. The API is read only
	and no authentication is required. <br><br>
	<h3>Resources</h3>
	The API exposes 4 resources. The API can respond in either JSON or XML.
	The agent can set its desired format specifying it in the Accept header.
	If browsing in a graphical web browser please append ?format=format to the uri.
	<br><br>
	
	<b>Series:</b> <br>
	A series is an identification code that serves to identify
	a single time series of CPI data. It is composed of an Area, an Item, a
	seasonality and periodicity.
	<br>This resource can be accessed at: /api/v1/series/
	<br>An individual resource can be accesed at: /api/v1/series/series_id
	
	<br><br>
	
	<b>Area:</b> <br>
	Describes the region of the CPI data. <br>
	This resource can be accessed at: /api/v1/area/ <br>
	An individual resource can be accesed at: /api/v1/area/area_id
	
	<br><br>
	
	<b>Item:</b> <br>
	Describes the item that the CPI is about. <br>
	This resource can be accessed at: /api/v1/item/ <br>
	An individual resource can be accesed at: /api/v1/item/item_id
	
	<br><br>
	
	<b>Observations:</b> <br>
	This is the actual CPI data point; each data point is described by
	a series id and a date. <br>
	This resource can be accessed at: /api/v1/observation/ <br>
	An individual resource can be accesed at: /api/v1/item/observation_id </p>
	
	<br>
		
	<h3>Filtering</h3>
	<p> The Area and Item resources can be filtered by name or id. To filter
	the results append <i>?name=key</i> or <i>?id=key</i> to the end of their
	respective URIs.
	
	<br><br>
	
	The Series resource can be filtered by <br>
	<ul>
		<li><b>Id:</b> append <i>?id=key</i></li>
		<li><b>Name:</b> append <i>?name=key</i></li>
		<li><b>Area:</b> append <i>?area__id=area_id</i> or
		<i>?area__name=area_name</i></li>
		<li><b>Item:</b> append <i>?item__id=item_id</i> or
		<i>?item__name=item_name</i></li>
	</ul>
	
	To filter Observations by: <br>
	<ul>	
		<li><b>Date:</b>
			<ul>
				<li> append <i>?date__gt=date</i> </li>
				<li> append <i>?date__lt=date</i></li>
				<li> append <i>?date__year=year</i></li>
				<li> append <i>?date__day=day</i> </li>
			</ul></li>
		<li><b>Series:</b>
			<ul>
				<li> append <i>?series__id=series_id</i></li>
				<li> append <i>?series__name=series_name</i></li>
				<li> append <i>?series__area__id=area_id</i> </li>
				<li> append <i>?series__area__name=area_name</i></li>
			</ul></li>
	</ul>

	</p>
</div>

{% endblock %}