{# This is the base template - this is the skeleton for the webapp #}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ title }}</title>
        <meta name="CPI Visualizer" content="Consumer Produc Index visualization tool">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        {% block stylesheets %} {% endblock %}
        <script src="{% static "js/vendor/modernizr-2.6.2.min.js" %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="container-narrow">
        	<div class="masthead">
        		<ul class="nav nav-pills pull-right">
        			{% block nav %} {% endblock %}
        		</ul>
        		<h3 class="muted">CPI Visualizer</h3>
        	</div>  	
        	<hr>
        	{% block content %} {% endblock %}
        	<p>{{ STATIC_URL }}</p>
        	<hr>
        	<div class="footer">
        		<p>© Darlin Albero, Richard Dansoh and Aldo Garcia</p>
        	</div>
        </div>

		<script src="https://www.google.com/jsapi"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.8.3.min.js" %}"><\/script>')</script>
        <script src="{% static "js/vendor/bootstrap.js" %}"></script>
        <script src="{% static "js/plugins.js" %}"></script>
        {% block scripts %} {% endblock %}

    </body>
</html>

