  <!DOCTYPE html> 
  <html lang="en"> 
  <head> 
  <meta charset="utf-8"> 
  <title>Test</title> 
  <meta name="description" content="Twitter Bootstrap Basic Tab Based Navigation Example">
  
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  </head>
  <body>
  <!-- We will create navbar here -->	
  
  <div class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
				<ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Action</a></li>
                  <li><a tabindex="-1" href="#">Another action</a></li>
                  <li><a tabindex="-1" href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a tabindex="-1" href="#">Separated link</a></li>
                </ul>
	</div>
	
	<div class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Item<b class="caret"></b></a>
		{% for item, info in annotated_list %}
			{% if info.open %}
				<ul class="dropdown-menu"><li>
			{% else %}
				{% if info.level == 0 %}
				</li><li class="dropdown-submenu">
				{% else %}
				</li><li>
				{% endif %}
			{% endif %}
			<a href="#">{{ item }}</a>
			{% for close in info.close %}
				</li></ul>
			{% endfor %}
		{% endfor %}
	</div>
	
	<div class="data">
		{% for item, info in annotated_list %}
			{% if info.open %}
				<ul><li>
			{% else %}
				</li><li>
			{% endif %}
			<a href="#">{{ item }}</a>
			{% for close in info.close %}
				</li></ul>
			{% endfor %}
		{% endfor %}
	</div>
	
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
  <script src="../static/js/vendor/bootstrap.js"></script>	
  </body>
  </html> 
