{% extends "base.html" %}

{% load staticfiles %}

{% block nav %}

<li class="active">
	<a href="/">Home</a>
</li>
<li>
	<a href="/api">API</a>
</li>
<li>
	<a href="/about">About</a>
</li>

{% endblock %}

{% block content %}

<div class="row-fluid">
	<div class="span9">
		<div id="data">
			<p>Data</p>
		</div>
	</div>
	<div class="span3">
		<p class="text-info">Start Year
			<select id="year-start">
				{% for year in years %}
				<option>{{ year }}</option>
				{% endfor %}
			</select>
		</p>
		<p class="text-info">End Year
			<select id="year-end">
				{% for year in years %}
				<option>{{ year }}</option>
				{% endfor %}
			</select>
		</p>
		<p class="text-info">Series:</p>
		<div id="series-menu">
			<div id="series-select"></div>
			<div class="btn-group">
				<button class="btn btn-small btn-primary" id="add">Add</button>
				<button class="btn btn-small btn-danger" id="reset">Reset</button>
			</div>
		</div>
		<p>&nbsp;</p>
		<div>
			<div id="series-list">
			</div>
			<button class="btn btn-small btn-danger" id="reset-list">Reset List</button>
		</div>
		<p>&nbsp;</p>
		<button class='btn btn-block btn-success' data-loading-text="Loading..." id="graph">Graph</button>
	</div>
</div>

{% endblock %}

{% block scripts %}

<script src="{% static "js/vendor/chosen.jquery.js" %}"></script>
<script src="{% static "js/vendor/sprintf.js" %}"></script>
<script src="{% static "js/search.js" %}"></script>
<script src="{% static "js/main.js" %}"></script> 

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "css/chosen.css" %}">
{% endblock %}
